// variables

$theme-dark: true !default;

$darkStyles: (
  "body-background-color": #333,
  "body-foreground-color": rgb(118, 118, 118),
  "body-text-color": rgb(173, 173, 173),
  "link-color": rgb(55, 116, 165),
  "header-background-color": rgb(30, 64, 95),
  "header-foreground-color": rgb(173, 173, 173),
  "header-height": 10vh,
  "navigation-width": 250px
);

$lightStyles: (
  "body-background-color": rgb(245, 245, 245),
  "body-foreground-color": rgb(33, 33, 33),
  "body-text-color": rgb(110, 110, 110),
  "link-color": rgb(12, 92, 158),
  "header-background-color": rgb(98, 133, 161),
  "header-foreground-color": rgb(173, 173, 173),
  "header-height": 10vh,
  "navigation-width": 250px
);

@function getThemeStyle($type){
    @if $theme-dark {
      @return map-get($darkStyles, $type );
    } @else {
      @return map-get($lightStyles, $type );
    }
}
