@mixin app {
  width: 100%;
  height: 100%;

  .container {
    height: 100vh - getThemeStyle("header-height");
    display: block;
    align-items: center;
    justify-content: center;

    .header {

      width: 100vw;
      max-height: getThemeStyle("header-height");
      overflow: hidden;


      .title {
        color: white;
        margin: 0;
        padding: 25px 20px 5px 20px;
      }

      .clickable {
        min-width: 25px;
        padding: 25px 20px 5px 20px;
        cursor: pointer;
        @include appicon-menu-open;
        font-size: 18px;
        transition: padding-top 150ms, padding-bottom 250ms;
        &:hover {
          @include appicon-cross-bold;
        }

      }

      .closed {
        @include appicon-menu-closed;
        padding: 15px 20px 15px 20px;
        &:hover {
          @include appicon-menu-open;
        }
      }
    }

    .body {
      display: flex;
    }

    .content {
      display: block;
      width: 100%;
      height: 100%;
    }

    .collapsed {
      width: 1px;
      max-width: 1px;
    }

    // navigation
    nav {
      width: getThemeStyle("navigation-width");
      max-width: getThemeStyle("navigation-width");
      overflow: hidden;
      text-align: left;

      height: 100%;
      transition: width 300ms ease-in-out, max-width 300ms ease-in-out;

      a {
        width: 100%;
        height: 35px;
        min-height: 30px;
        text-decoration: none;
        padding-top: 18px;
        padding-bottom: 8px;
        padding-left: 5px;
        display: block;
        transition: background-color 300ms ease-in-out, color 150ms linear;

        &:hover {
          text-decoration: underline;
        }
      }

    }

    // vertival alligned content
    .angapp-row {
      display: flex;
    }

    .angapp-box {
      margin: 15px;
      border-radius: 6px;
      border-style: none;
      border-width: 1px;
      padding: 10px;
      min-height: 80px;
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);

      p {
        padding-left: 8px;
        padding-right: 12px;
        padding-bottom: 12px;
        padding-top: 3px;
      }
    }

  }
}
