@mixin colorThemeChange {
  transition: background-color 300ms linear, color 300ms linear;
}

@mixin bottomLine{
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  border-bottom-style: solid;
  border-width: 1px;
}

@mixin topLine{
  border-top-style: solid;
  border-right-style: none;
  border-left-style: none;
  border-bottom-style: none;
  border-width: 1px;
}

@mixin app {
  width: 100%;
  height: 100%;
  @include colorThemeChange();
  .container {
    height: 100vh;
    display: block;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    .header {

      width: 100vw;
      max-height: getThemeStyle("header-height");
      overflow: hidden;
      @include colorThemeChange();

      .title {
        color: white;
        margin: 0;
        padding: 25px 20px 5px 20px;
      }

      .clickable {
        min-width: 25px;
        padding: 25px 20px 5px 20px;
        cursor: pointer;
        @include appicon-menu-open;
        font-size: 18px;
        transition: padding-top 150ms, padding-bottom 250ms;

        &:hover {
          @include appicon-cross-bold;
        }
      }

      .closed {
        @include appicon-menu-closed;
        padding: 15px 20px 15px 20px;

        &:hover {
          @include appicon-menu-open;
        }
      }
    }

    .body {
      display: flex;
    }

    .content {
      display: block;
      width: 100%;
      height: 100%;
    }

    .collapsed {
      width: 0px;
      max-width: 0px;
    }

    .collapsed-vertical {
      height: 0px;
      max-height: 0px;
    }

    .short {
      width: 60px;
    }

    // navigation
    nav {
      width: getThemeStyle("navigation-width");
      max-width: getThemeStyle("navigation-width");
      overflow: hidden;
      text-align: left;

      height: 100%;
      transition: width 300ms ease-in-out, max-width 300ms ease-in-out;



      .nav-header{
          font-weight: bolder;
          width: 100%;
          height: 20px;
          padding-top: 22px;
          padding-left: 5px;
      }

      // smaller anchor without depending on a tag
      .a-style {
        cursor: pointer;
        width: 100%;
        height: 20px;
        min-height: 20px;
        text-decoration: none;
        padding-top: 8px;
        padding-bottom: 1px;
        padding-left: 15px;
        display: block;
        font-size: 12px;
        transition: background-color 300ms ease-in-out, color 150ms linear;
        @include bottomLine;

        &:hover {

        }
      }

      a {
        cursor: pointer;
        width: 100%;
        height: 35px;
        min-height: 30px;
        text-decoration: none;
        padding-top: 18px;
        padding-bottom: 8px;
        padding-left: 10px;
        display: block;
        transition: background-color 300ms ease-in-out, color 150ms linear;
        @include bottomLine;
        &:hover {

        }
      }

    }

    // vertival alligned content
    .angapp-row {
      display: flex;
    }

    .angapp-box {
      @include colorThemeChange();
      margin: 15px;
      border-radius: 0px;
      border-top-style: none;
      border-right-style: none;
      border-left-style: none;
      border-bottom-style: solid;
      border-width: 1px;
      padding: 10px;
      min-height: 80px;
      //box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);

      p {
        padding-left: 8px;
        padding-right: 12px;
        padding-bottom: 12px;
        padding-top: 3px;
      }
    }

  }
}
