<div class="app">
  <div class="container">
    <div class="header">
      <h1 class="title">
        {{ 'PAGES.HOME.TITLE' | translate }}
      </h1>
    </div>
    <div class="container body">
      <nav>
        <a routerLink="/" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact:true}">Home</a>
        <a routerLink="/welcome" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:true}">welcome</a>
      </nav>

      <div class="content">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>
