<app-workbench>
  <div class="angapp-box" *ngIf="isInitialized">
      <h2>Configuration</h2>
      <aui-switch-btn
        (OnChange)="switchFor('header', $event)"
        [enabled]="cfgHeader"
        Label="Application Header"></aui-switch-btn>
        <hr>
        <aui-switch-btn
          (OnChange)="switchFor('menu', $event)"
          [enabled]="cfgSideBar"
          Label="Sidebar menu"></aui-switch-btn>
          <hr>
          <aui-switch-btn
            (OnChange)="switchFor('menu-icon', $event)"
            [enabled]="cfgIconizedMenu"
            Label="Sidebar menu. Show icons only"></aui-switch-btn>    
  </div>
</app-workbench>
