/* You can add global styles to this file, and also import other style files */
@import "app/styles/utf8icons";

html,
body {
  margin: 0;
  padding: 0;

  height: 100%;
}

// variables
$font-stack: Helvetica,
sans-serif;
$body-background-color: #333;
$body-foreground-color: rgb(78, 169, 226);
$body-text-color: rgb(173, 173, 173);
$link-color: #059;
$header-background-color: rgb(2, 39, 70);
$header-foreground-color: rgb(173, 173, 173);
$header-height: 10vh;
$navigation-width: 250px;

body {
  background-color: $body-background-color;
  color: $body-foreground-color;
  font: 100% $font-stack;
}

.app {
  .container {
    height: 100vh - $header-height;
    display: block;
    align-items: center;
    justify-content: center;

    .header {

      width: 100vw;
      color: $header-foreground-color;
      background-color: $header-background-color;
      max-height: $header-height;
      overflow: hidden;


      .title {
        color: white;
        margin: 0;
        padding: 25px 20px 5px 20px;
      }

      .clickable {
        color: darken($header-foreground-color,25%);
        padding: 25px 20px 5px 20px;
        cursor: pointer;
        @include appicon-menu-open;
        font-size: 18px;
        transition: padding-top 150ms, padding-bottom 250ms;
        &:hover {
          background-color: darken($header-background-color, 10%);
        }

      }
      .closed{
        @include appicon-menu-closed;
        padding: 15px 20px 15px 20px;
        color: lighten($header-foreground-color, 10%);
      }
    }

    .body {
      display: flex;
    }
    .content {
      display: block;
      width: 100%;
      height: 100%;
    }

    .collapsed {
      width: 1px;
      max-width: 1px;
    }
    // navigation
    nav {
      width: $navigation-width;
      max-width: $navigation-width;
      overflow: hidden;
      text-align: left;
      background-color: darken($body-background-color, 10%);
      height: 100%;
      transition: width 300ms ease-in-out,max-width 300ms ease-in-out;

      a {
        width: 100%;
        height: 35px;
        min-height: 30px;
        text-decoration: none;
        color: $link-color;
        padding-top: 8px;
        padding-bottom: 10px;
        padding-left: 5px;
        display: block;
        transition: background-color 300ms ease-in-out, color 150ms linear;
        .active {
          color: white;
          font-weight: bolder;
        }
        &:hover {
          background-color: lighten($body-background-color, 8%);
          color: lighten($link-color, 45%);
          text-decoration: underline;
        }
      }
      .active {
        color: white;
        font-weight: bolder;
        background-color: $body-background-color;
        &:hover{
          color: white;
          background-color: darken($body-background-color, 8%);
        }
      }
    }

    // vertival alligned content
    .angapp-row {
      display: flex;
    }

    .angapp-box {
      margin: 15px;
      background-color: lighten($body-background-color, 5%);
      border-radius: 6px;
      border-style: none;
      border-width: 1px;
      padding: 10px;
      min-height: 80px;
      box-shadow: 1px 1px 2px rgba(0,0,0,0.5);

      p {
        padding-left: 8px;
        padding-right: 12px;
        padding-bottom: 12px;
        padding-top: 3px;
        color: $body-text-color;
      }
    }

  }
}
